<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  	
    	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- <import resource="classpath:pl/com/active-mq-connection-factory.xml" 
		/> -->
	<!-- <tx:annotation-driven /> -->
	<context:annotation-config />
	<import resource="classpath:pl/store/database/h2.xml" />
	<import resource="classpath:pl/store/database/hibernate.xml" />
	<import resource="classpath:requestScheduler.xml" />

	<bean id="findBasketDao" class="pl.store.persistance.DefoultFindBasketDao">
		<property name="factory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="saveNewBasketDao" class="pl.store.persistance.DefoultNewBasketDao">
		<property name="factory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="updateBasketDao" class="pl.store.persistance.DefoultUpdateExistingBasketDao">
		<property name="factory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="saveNewBasket" class="pl.store.business.inbound.DefoultNewBasketProcesor"/>	
	<bean id="updateBasket" class="pl.store.business.inbound.DefoultUpdateBasket"/>
	<bean id="findBasket" class="pl.store.business.inbound.DefoultFindBasket"/>
	
	<bean id="newBasketServices" class="pl.store.services.NewOrder"/>
	<bean id="findBasketServices" class="pl.store.services.ViewOrder"/>
	<bean id="updateBasketServices" class="pl.store.services.UpdateExistingOrder"/>
</beans>